{% extends "base.html" %}

{% block content %}

<h1>Levent Arican</h1>

My name is Levent Arican. Nowadays we read often the terms Software Developer, Software Engineer, Computer Scientist, Software Craftsman, Data
Engineer. The intersection of these could describe me.
<ul>
    <li>Checkout my repository: <a href="https://github.com/leventarican">https://github.com/leventarican</a></li>
    <li>This page is reachable under: <a href="https://leventarican.github.io">https://leventarican.github.io</a></li>
</ul>

Interest Fields
<ul>
    <li>maths</li>
    <li>computer vision</li>
    <li>AI</li>
    <li>computer security</li>
</ul>

Experienced (vary) in programming languages, technologies, paradigms
<ul>
    <li>Java and Java EE</li>
    <li>Android Development: Flutter, Kotlin</li>
    <li>OpenCV</li>
    <li>C++03, C(99)</li>
    <li>Python: pandas, numpy, scikit-learn</li>
    <li>Cloud Technologies: AWS, OpenShift, Azure, Google Cloud</li>
</ul>

<h1 class="title">
    {{ section.title }}
</h1>
<ul>
    {% for page in section.pages %}
    <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
    {% endfor %}
</ul>
{% endblock content %}